// UL class for containing buttons
ul.cta_buttons {
	
	padding: 0px;
	
	li {
		list-style-type: none;
	}
	
	li.single_button {
		margin-right: 0px !important;
	}
}

.cta_button {
	@include cta-button;	
}

.cta_button_alt {
	@include cta-button-alt;	
}

.cta_button_alt_2 {
	@include cta-button-alt-2;	
}

.button_row {
	
	[class*="col-"] {
		
		padding: 0px;
	}
	
	@include mappy-bp($tab) {
		
		
	}
}