@include mappy-bp($desk) {
	
	.mobilenav {
		
		float: right;
		position: relative;
		margin-top: rem-calc(50px);
		
		li {
			
			list-style-type: none;
			display: inline-block;
			margin-right: rem-calc(10px);
			
			&:last-child {
				margin-right: 0px;
			}
		}
	}
}

/* ------------------------------------------------------ contextual menus */

.menu {
	
	font-size: 80%;
}