// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$main-colour: #24ABE2;
$alt-colour: #F06024;
$alt2-colour: #FFC517;

$block-border: #efefef;

$orange: #F16347;
$red: #F43838;
$lightred: #f7c0c0;
$blue: #0099CC;
//$blue: #00224f;
$black: #000;
$darkgrey: #333333;
$midgrey: #666666;
$lightgrey: #ccc;
$verylightgrey: #efefef;
$white: #ffffff;