.icon_block_row {
	
	p {
		
		line-height: 1.5em;
	}
	
	.big_margin_bottom {
		
		//margin-bottom: 0px;
	}
}

.block_row {
	@include flexbox;
	@include flex-direction(column);
	
	.block_text {
		order: 2;
	}
	.block_image {
		order: 1;
	}
	
	.cta_button {
		
		max-width: rem-calc(280px) !important;	
	}
	
	@include mappy-bp($tab) {
		
		display: block;
		flex-direction: inherit;
	}
	
	p {
		
		line-height: 1.5em;
		
		@include mappy-bp($desk) {
			
			font-size: rem-calc(18px);
			line-height: 1.75em;
		}
	}
	
	h3, p {
		
		text-align: center;
		
		@include mappy-bp($tab) {
			
			text-align: left;
		}
	}
	
	h3.step_title {
		
		@include mappy-bp($tab) {
			
			font-size: rem-calc(26px);
		}
		
		@include mappy-bp($desk) {
			
			font-size: rem-calc(32px);
		}
	}
	
	h2.step_title_alt {
		
		
		@include mappy-bp($desk) {
			
			margin-top: rem-calc(30px);
			font-size: rem-calc(32px);
			margin-bottom: rem-calc(30px);
		}
		
		@include mappy-bp($desk-large) {
			
			margin-top: rem-calc(40px);
			font-size: rem-calc(34px);
		}
	}
}

.block_row_alt {
	
	@include dotted-block-border;
}


.images_grid {
	
	@include mappy-bp($mobile-wide) {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		-ms-column-count: 2;
		-o-column-count: 2;
		column-count:         2;
	}
	
	@include mappy-bp($tab) {
		-moz-column-count:    4;
		-webkit-column-count: 4;
		-ms-column-count: 4;
		-o-column-count: 4;
		column-count:         4;
	}
	
/*
	@include mappy-bp($desk) {
		-moz-column-count:    6;
		-webkit-column-count: 6;
		-ms-column-count: 6;
		-o-column-count: 6;
		column-count:         6;
	}
*/
	
	img {
		/* Just in case there are inline attributes */
		width: 100% !important;
		height: auto !important;
	}
}