footer[role="contentinfo"] {
	
	.top_bar {
		
		background: $midgrey;
		color: white;
		padding: rem-calc(10px) 0px;
		
		a {
			text-shadow: none;
			color: $alt2-colour;
			vertical-align: middle;
			line-height: rem-calc(32px);
			
			&:hover, &:focus {
				text-decoration: none;
				color: white;
			}
		}
	}
	
	.mid_bar {
		
		background: $darkgrey;
		color: white;
		padding: rem-calc(20px) 0px 0px;
	}
	
	.bottom_bar {
		
		@include light-grey-box;
		padding: rem-calc(10px) 0px;
		
		a {
			
			&:hover, &:focus {
				color: $main-colour;
				text-decoration: none;
			}
		}
		
		ul {
			
			margin-top: rem-calc(10px);
			@include tab-block-border;
			
			@include mappy-bp($desk) {
				text-align: left;	
				margin-top: 0px;
			}
			
			li {
				font-family: $titleFont;
				font-size: rem-calc(14px);
				border-right: 1px solid $verylightgrey;
				padding-right: rem-calc(5px);
				
				@include dark-link;
				
				&:last-child {
					padding-right: 0px;
					border-right: none;
				}
			}
		}
		
		p {
			
			line-height: 1.2em;
			text-align: center;
			font-size: 80%;
			font-family: $titleFont;
			
			@include mappy-bp($desk) {
				
				text-align: right;
				font-size: 85%;
				margin-top: rem-calc(5px);
			}
		}
				
		.footer_logo {
			
			max-width: rem-calc(220px);
			display: block;
			margin: rem-calc(10px) auto 0px;
			
			@include mappy-bp($desk) {
				margin:	rem-calc(10px) 0px 0px;
				float: right;
			}
		}
		
		[class^="col-"], [class*=" col-"] {
			
			text-align: center;
			
			@include mappy-bp($desk) {
				text-align: right;
			}
		}
	}
}

.footer_widget {
	
	h3 {
		font-size: rem-calc(16px);
		margin-bottom: rem-calc(10px);
		
		@include mappy-bp($tab) {
			font-size: rem-calc(18px);
		}
		
		@include mappy-bp($desk-large) {
			font-size: rem-calc(20px);
		}
	}
	
	ul {
		padding: 0px;
		margin: 0px;
		
		li {
			
			list-style-type: none;
			font-size: rem-calc(13px);
			line-height: 1.5em;
			
			a:link, a:visited {
				
				text-shadow: none;
			}
			
			@include mappy-bp($tab) {
				font-size: rem-calc(15px);
			}
			
		}
	}
	
	width: 47.5%;
	margin-right: 5%;
	@include margin-bottom;
	float: left;
	
	&:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6), &:nth-of-type(8) {
		margin-right: 0px;
		
	}
	
	&:nth-of-type(3), &:nth-of-type(5), &:nth-of-type(7), &:nth-of-type(9) {
		clear: left;
		
	}
	
	@include mappy-bp($tab) {
		
		clear: none !important;
		width: 31% !important;
		margin-right: 3.5% !important;
		
		&:nth-of-type(3), &:nth-of-type(6), &:nth-of-type(9) {
			margin-right: 0px !important;
		}
		
		&:nth-of-type(3), &:nth-of-type(6), &:nth-of-type(9) {
			clear: left;
		}
	}
	
	@include mappy-bp($desk-large) {
		
		clear: none !important;
		width: 15% !important;
		margin-right: 2.5% !important;
		
		&:nth-of-type(6) {
			margin-right: 0px !important;
		}
		
		
	}
}