header[role="banner"] {
	
	padding-bottom: rem-calc(10px);
	background: white;
	position: relative;
	z-index: 101;
	
	@include mappy-bp($tab) {
		
		padding-bottom: 0px;
	}
	
	&.scroll {
		background: rgba(255,255,255,0.95);
	}
	
	.topbar {
		font-family: $titleFont;
		background: $midgrey;
		color: white;
		padding: rem-calc(5px) 0px;
		
		@include light-link;
		
		.cta_button {
			
			display: none;
			visibility: hidden;
		}
		
		@include mappy-bp(max-width $desk) {
			
			.links {
				
				a {
					margin-left: rem-calc(10px);
				}
			}
		}
		
		@include mappy-bp($tab) {
			
			.header_phone {
				padding: rem-calc(5px) 0px;
			}
			
			.cta_button {
				
				display: inline-block;
				visibility: visible;
				margin-top: 0px;
				text-shadow: none !important;
				padding: 0px rem-calc(5px);
				border-radius: 0px;
				color: $darkgrey !important;
				
				&:hover, &:focus {
					
					color: white !important;
				}
				
				@include mappy-bp($desk) {
					border-radius: 4px;
				}
			}
			
			.float_right {
				
				a {
					margin-left: rem-calc(10px); 
				}
			}
		}
		
		@include mappy-bp($desk) {
			padding: rem-calc(7px) 0px;
			background: none;
			color: $darkgrey;
			@include dark-link;
			text-align: right;
			position: absolute;
			width: 100%;
			
			.float_left, .float_right {
				
				text-align: right !important;
				float: none !important;
				display: inline-block;
			}
		}
	}
	
	.midbar {
		&.stick {
			
			@include mappy-bp(max-width $tab) {
				
				position: fixed;
			    top: 0;
			    z-index: 101;
			    width: 100%;
			    background: white;
			    background: rgba(255,255,255,0.95);
			    
			    .cta_button {
				    margin-top: rem-calc(10px);
				    margin-bottom: rem-calc(10px);
				    max-width: rem-calc(240px);
			    }
			    
			    .mobile_scroll_hide {
				    
				    visibility: hidden;
				    display: none;
			    }
			}
			
			@include mappy-bp($tab) {
				
				position: fixed;
				z-index: 99;
				top: 0px;
				right: 0px;
				left: 0px;
				background: white;
				background: rgba(255,255,255,0.9);
				width: 100% !important;
				//height: rem-calc(50px);
				
				.brand {
					padding-top: rem-calc(10px);
					padding-bottom: rem-calc(10px);
					
					img {
						max-width: rem-calc(250px);
					}
				}
				
				.header_search {
					
					margin-top: 0px;
				}
				
				.mobilenav {
					
					//margin-top: rem-calc(13px);
				}
				
				.header_cta {
					display: none;
					visibility: hidden;
				}
			}
		}		
		
	}
	
	.wrap {
		//padding: rem-calc(20px);
	}
	
	.brand_col {
		//height: rem-calc(50px);
		display: block;
		
		@include mappy-bp($mobile-wide) {			
			width: 83.3333%;
		}
		
		@include mappy-bp($desk) {
			width: 50%;
		}
	}
	
	.header_mobile_icons {
		height: rem-calc(64px);
		display: block;
		text-align: right;
		
		@include dark-link;
		
		[class^="icon-"], [class*=" icon-"] {
			
			line-height: rem-calc(64px);
			font-size: rem-calc(18px);
			font-weight: bold;
			vertical-align: middle;
			margin-right: rem-calc(5px);
			
			&:last-child {
				margin-right: 0px;
			}
			
			@include mappy-bp($desk) {
				line-height: rem-calc(50px);
				text-align: right;
			}
		}
		
		@include mappy-bp($mobile-wide) {
			
			text-align: right;
		}
		
		@include mappy-bp($desk) {
			height: rem-calc(50px);
			margin-top: rem-calc(36px);
		}
	}
	
	.header_search {
		padding: 0px;
		
		@include mappy-bp($desk) {
			
			float: right;
			width: 4%;
		}
	}
	
	.header_hamburger_menu {
		
		&.stick {
			position: fixed;
			z-index: 9999;
			top: 0px;
			right: 0px;
			
			@include mappy-bp($desk) {
			
				display: block;
				visibility: visible;
			}
		}
		
		@include mappy-bp($mobile-wide) {
			
			width: 8.3333%;
		}
		
		@include mappy-bp($desk) {
			
			display: none;
			visibility: hidden;
		}
	}
	
	.brand {
		display: block;
		padding-top: rem-calc(15px);
		padding-bottom: rem-calc(15px);
		
		@include mappy-bp($desk) {
			
			padding-top: rem-calc(20px);
			padding-bottom: rem-calc(20px);
		}
		
		img {
			display: block;
			max-width: rem-calc(205px);
			margin: 0px auto;
			
			@include mappy-bp($desk) {
				max-width: rem-calc(320px);
			}
		}
	}
	
	.cta_button {
		margin: rem-calc(10px) auto 0px;
		border-radius: 0px;
		padding: 0px;
		max-width: rem-calc(240px);
		
		@include mappy-bp($tab) {
			border-radius: 4px;
		}
	}	
	
	.header_cta {
		
		background: white;
		
		.cta_button {
		    margin-top: 0px;
	    }
		
		&.stick {
			
			position: fixed;
		    top: 0;
		    z-index: 101;
		    width: 100%;
		    background: white;
		    background: rgba(255,255,255,0.95);
		    
		    .cta_button {
			    margin-top: rem-calc(10px);
			    margin-bottom: rem-calc(10px);
			    max-width: rem-calc(240px);
		    }
		}
		
		@include mappy-bp(750px) {
			
			display: none;
			visibility: hidden;
		}
	}
	
	.right_box {
		
		.inline_list {
			text-align: center;
			
			li {
				font-family: $titleFont;
				font-size: rem-calc(14px);
				
				.phone_link {
					color: black;
					
					&:hover, &:focus {
						color: $alt-colour;
					}
				}
			}
			
			.last {
				display: block;
				margin: 0px auto;		
				
					
			}
		}
	}
	
	
}